<!DOCTYPE html>
<html>

<head>
   <title>About</title>
   <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
   <div class="container">
      {{>header}}
      {{>footer}}
   </div>
</body>

</html>