<!DOCTYPE html>
<html>

<head>
   <title>Home</title>
   <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
   <div class="container">
      {{>header}}
      <form>
         <input placeholder="location" />
         <button>Search</button>
      </form>
      <p id="msg-1"></p>
      <p id="msg-2"></p>
      {{>footer}}
   </div>
   <script src="/js/script.js"></script>
</body>

</html>